@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

  @media (min-width: 1440px) {
    .container {
      width: 1440px;
    }
  }
:root{--Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);
    
    --Grey700: hsl(0, 0%, 20%);
    --Grey800: hsl(0, 0%, 12%);
    --Grey900: hsl(0, 0%, 8%);

    --main-font:'Inter', sans-serif;

    
}
html, body{height: 100%;
  margin: 0;
  background-color: var(--Grey900); /* Optional, sieht nice aus */
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  align-items: center;}

.me-label {display:block;
text-align:center;
font-family: var(--main-font);
}
.me-label img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.social-buttons a {
all: unset; /* Entfernt alle Standardstile von Links */
color: var(--White);
font-weight: 600;
display:flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 250px;
height: 35px;
background-color: var(--Grey700);
margin: 1.2rem 0 1.2rem 0

}

.social-buttons :hover{background-color: var(--Green);
color:var(--Grey900)}

 .container{display:flex;
  flex-direction: column;
    text-align:center;  
    justify-content:center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    width: 375px;
    background-color: var(--Grey800);
font-family:var(--main-font)}

h1{
    font-size:1.2rem;
font-weight:900;
color:var(--White)}
h2{
    font-size:1.1rem;
    font-weight:800;
    color:var(--Green)
}
.comment{color:var(--White);
font-style: italic;}